.main-section {
      margin: 0 auto;
      margin-top:  25%;
      padding: 0;
      border: none;
      border-bottom: 0px !important;
}
.text-center {
      border: none;
      border-bottom: 0px i !important;

}